{{!-- Global | Start --}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
<link rel="icon" href="./img/favicon.png" type="image/x-icon">
<link rel="apple-touch-icon" href="./img/favicon.png">

{{!-- Global | End --}}

{{!-- Style | Start --}}
{{#ifEquals (texts "direction") "rtl"}}
<link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap-rtl.min.css">
<link rel="stylesheet" href="./css/{{default "style"}}/style.rtl.css">
<style>
    *:not(.fas),
    *:not(.fab),
    *:not(.fa),
        {
        font-family: 'Cairo', sans-serif !important;
    }
</style>
{{/ifEquals}}
{{#ifEquals (texts "direction") "ltr"}}
<link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" href="./css/{{default "style"}}/style.ltr.css">
<style>
    *:not(.fas),
    *:not(.fab),
    *:not(.fa),
        {
        font-family: 'Raleway', sans-serif;
    }
</style>
{{/ifEquals}}
{{!-- Style | End --}}

{{!-- Libraries | Start --}}

<link href="./vendor/venobox/venobox.css" rel="stylesheet">
<link href="./vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="./vendor/aos/aos.css" rel="stylesheet">
<link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

{{!-- Libraries | End --}}

{{!-- Meta | Start --}}
{{#if description}}
<meta name="description" content="{{description}}" />
<meta itemprop="description" content="{{description}}">
<meta property="og:description" content="{{description}}">
<meta name="twitter:description" content="{{description}}">
{{else}}
<meta name="description" content="{{default "app_description"}}" />
<meta itemprop="description" content="{{default "app_description"}}">
<meta property="og:description" content="{{default "app_description"}}">
<meta name="twitter:description" content="{{default "app_description"}}">
{{/if}}

{{#if keywords}}
<meta name="keywords" content="{{keywords}}" />
{{else}}
<meta name="keywords" content="{{default "app_keywords"}}" />
{{/if}}

{{#if author}}
<meta name="author" content="{{author}}" />
{{else}}
<meta name="author" content="{{default "app_author"}}" />
{{/if}}

{{#if image}}
<meta property="og:image" content="{{default "website_url"}}/img/{{image}}" />
<meta itemprop="image" content="{{default "website_url"}}/img/{{image}}">
<meta name="twitter:image" content="{{default "website_url"}}/img/{{image}}">
{{else}}
<meta property="og:image" content="{{default "website_url"}}/img/og_image.jpg" />
<meta itemprop="image" content="{{default "website_url"}}/img/og_image.jpg">
<meta name="twitter:image" content="{{default "website_url"}}/img/og_image.jpg">

{{/if}}

{{#if title}}
<title>{{default "website_name"}} | {{title}}</title>
<meta property="og:title" content="{{default "website_name"}} | {{title}}" />
<meta itemprop="name" content="{{default "website_name"}} | {{title}}">
<meta name="twitter:title" content="{{default "website_name"}} | {{title}}">

{{else}}
<title>{{default "website_name"}}</title>
<meta property="og:title" content="{{default "website_name"}}" />
<meta itemprop="name" content="{{default "website_name"}}">
<meta name="twitter:title" content="{{default "website_name"}}">

{{/if}}

<meta name="copyright" content="{{default "website_name"}} © 2020" />
<meta name="robots" content="follow" />
<meta property="og:url" content="{{default "website_url"}}" />
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:url" content="{{default "website_url"}}">

{{!-- Meta | End --}}
<link rel="stylesheet" href="./css/{{default "style"}}/style.css">