<!DOCTYPE html>
<html lang="{{getLocale}}">

<head>
    {{>headContent}}
    <link href="/vendor/nprogress/nprogress.css" rel="stylesheet">
    <link href="/vendor/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="/vendor/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

    <link rel="stylesheet" href="/css/{{default "style"}}/dashboard/style.css">
    {{#ifEquals (texts "direction") "rtl"}}
    <link rel="stylesheet" href="/css/{{default "style"}}/dashboard/style.rtl.css">
    {{/ifEquals}}
    {{#ifEquals (texts "direction") "ltr"}}
    <link rel="stylesheet" href="/css/{{default "style"}}/dashboard/style.ltr.css">
    {{/ifEquals}}
</head>

<body lang="{{getLocale}}" class="nav-md">
    <div class="container body">
        <div class="main_container">
            {{>dashboard/side}}

            {{>dashboard/navbar}}
            <!-- page content -->
            <div class="right_col" role="main">
                {{{body}}}
            </div>
            <!-- /page content -->
            {{>dashboard/footer}}
        </div>
    </div>
    {{>footerContent}}
    <script src="/js/moment.js"></script>
    <script src="/vendor/fastclick/lib/fastclick.js"></script>
    <script src="/vendor/nprogress/nprogress.js"></script>
    <script src="/vendor/Chart.js/dist/Chart.min.js"></script>
    <script src="/vendor/gauge.js/dist/gauge.min.js"></script>
    <script src="/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/vendor/iCheck/icheck.min.js"></script>
    <script src="/vendor/skycons/skycons.js"></script>
    <script src="/vendor/Flot/jquery.flot.js"></script>
    <script src="/vendor/Flot/jquery.flot.pie.js"></script>
    <script src="/vendor/Flot/jquery.flot.time.js"></script>
    <script src="/vendor/Flot/jquery.flot.stack.js"></script>
    <script src="/vendor/Flot/jquery.flot.resize.js"></script>
    <script src="/vendor/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/vendor/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/vendor/flot.curvedlines/curvedLines.js"></script>
    <script src="/vendor/DateJS/build/date.js"></script>
    <script src="/vendor/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/vendor/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/vendor/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="/vendor/moment/min/moment.min.js"></script>
    <script src="/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.2/r-2.2.5/datatables.min.js"></script>
    <script src="/js/dashboard.js"></script>
    <script>
        $('table').dataTable({
            searching: false, paging: false, info: false, "columns": [
                { "width": "10%" },
                { "width": "80%" },
                { "width": "10%" }
            ]
        });

    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker13').datetimepicker({
                inline: true,
                sideBySide: true,
                format: 'YYYY-MM-DD HH:mm:ss'
            });
            $('#datetimepicker13').on("change.datetimepicker", function (e) {
                $("#txtDatetime").val(moment(e.date).format('YYYY-MM-DD HH:mm:ss'))
            });
        });
    </script>
</body>

</html>