<!DOCTYPE html>
<html lang="{{getLocale}}">

<head>
    {{>headContent}}
    <link href="/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/{{default "style"}}/index/style.css">
    {{#ifEquals (texts "direction") "rtl"}}
    <link rel="stylesheet" href="/css/{{default "style"}}/index/style.rtl.css">
    {{/ifEquals}}
    {{#ifEquals (texts "direction") "ltr"}}
    <link rel="stylesheet" href="/css/{{default "style"}}/index/style.ltr.css">
    {{/ifEquals}}

</head>

<body lang="{{getLocale}}">
    {{{body}}}

    {{>footerContent}}
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/venobox/venobox.min.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/vendor/superfish/superfish.min.js"></script>
    <script src="/vendor/hoverIntent/hoverIntent.js"></script>
    <script src="/vendor/aos/aos.js"></script>
    <script src="/js/index.js"></script>
    {{!-- <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5f40644dcc6a6a5947adce0f/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script> --}}
    <!--End of Tawk.to Script-->

</body>

</html>