<link rel="stylesheet" href="/css/{{default "style"}}/dashboard/side.css">
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title">
                <div class="img"></div>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="/img/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>{{texts "welcome"}}</span>
                <h2>

                    {{#ifEquals (getLocale) "en"}}
                    {{name_en}}
                    {{/ifEquals}}
                    {{#ifEquals (getLocale) "ar"}}
                    {{name_ar}}
                    {{/ifEquals}}
                </h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>{{texts "general"}}</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-user"></i> {{texts "personal"}} <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/dashboard/profile">{{texts "profile"}}</a></li>
                        </ul>
                    </li>

                    <li><a><i class="fa fa-certificate" aria-hidden="true"></i>
                            {{texts "certifications"}}
                            <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/dashboard/certificationsWall">{{texts "certifications_wall"}}</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            {{#ifEquals isAdmin "true"}}
            <div class="menu_section">
                <h3>{{texts "administrator"}}</h3>
                <ul class="nav side-menu">
                    <li>
                        <a>
                            <i class="fa fa-square" aria-hidden="true"></i>
                            {{texts "platform"}}
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li><a href="/dashboard/statistics">{{texts "statistics"}}</a></li>
                            <li><a href="/dashboard/studio">{{texts "studio"}}</a></li>
                            <li><a href="/dashboard/gallery">{{texts "gallery"}}</a></li>
                            <li><a href="/dashboard/faq">{{texts "faq"}}</a></li>
                            <li><a href="/dashboard/staff">{{texts "staff"}}</a></li>

                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                            {{texts "events"}}
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li><a href="/dashboard/events">{{texts "events_manager"}}</a></li>
                            <li><a href="/dashboard/instructors">{{texts "instructors_manager"}}</a></li>
                            <li><a href="/dashboard/sponsors">{{texts "sponsors_manager"}}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-users" aria-hidden="true"></i>
                            {{texts "users"}}
                            <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/dashboard/users">{{texts "users_manager"}}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-cog" aria-hidden="true"></i>
                            {{texts "settings"}}
                            <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/dashboard/settings">{{texts "general_settings"}}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {{/ifEquals}}
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            {{!-- <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a> --}}
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="/dashboard/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>