<form class="login100-form validate-form" method="POST" action="./">

    {{#if errors}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">

        <br />
        {{errors}}
    </div>
    {{/if}}


    <span class="login100-form-title">
        {{texts "reset_password"}}
    </span>

    <div class="wrap-input100 validate-input" data-validate="{{texts "password_required"}}">
        <input class="input100" type="password" name="txtPassword" id="txtPassword" placeholder="{{texts "password"}}"
            maxlength="32">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="{{texts "password_match_required"}}">
        <input class="input100" type="password" name="txtPasswordConfirmation" id="txtPasswordConfirmation"
            placeholder="{{texts "password_confirmation"}}" maxlength="32" oninput="check(this)">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>



    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            {{texts "reset_password"}}

        </button>
    </div>


</form>