<link rel="stylesheet" href="/css/{{default "style"}}/event/about.css">

<!-- ======= About Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6">

                <h2>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    {{texts "event_about"}}
                </h2>
                <p>{{default "website_about"}}</p>
            </div>
            <div class="col-lg-3">
                <h3>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    {{texts "where"}}
                </h3>
                <p>{{default "website_about_where"}}</p>
            </div>
            <div class="col-lg-3">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                {{texts "when"}}
                <p>
                    {{default "website_about_when"}}
                </p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->