<link rel="stylesheet" href="/css/{{default "style"}}/index/studio.css">

<!-- ======= studio Section ======= -->
<section id="studio">

    <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
            <h2>
                <i class="fa fa-video-camera" aria-hidden="true"></i>
                {{texts "studio"}}
            </h2>
            <p>{{texts "studio_description"}}</p>
        </div>

        <div class="row no-gutters">
            <div class="col-lg-6 studio-map">
                <iframe src="{{default "studio_location"}}" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-lg-6 studio-info">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8">
                        <h3>{{default "studio_title"}}</h3>
                        <p>
                            {{default "studio_description"}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid studio-gallery-container" data-aos="fade-up" data-aos-delay="100">
        <div class="row no-gutters">

            {{#each studioImages}}
            <div class="col-lg-3 col-md-4">
                <div class="studio-gallery">
                    <a href="/uploads/{{image}}" class="venobox" data-gall="studio-gallery">
                        <div class="img" style="background-image: url('/uploads/{{image}}');">

                        </div>
                        {{!-- <img src="/uploads/{{image}}" alt="" class="img-fluid"> --}}
                    </a>
                </div>
            </div>
            {{/each}}

        </div>
    </div>

</section><!-- End studio Section -->